</div>{# ./inner #}
</div>{# ./outer #}

<footer role="contentinfo">
  <div class="row--footer">
    <div class="socialmedia">
      <ul>
        <li class="icon icon-facebook"> <a href="https://www.facebook.com/kombijsport" title="Kombijsport op FaceBook">Kombijsport op Facebook</a></li>
        <li class="icon icon-twitter"> <a href="http://twitter.com/#!/kombijsport" title="@kombijsport op Twitter">@kombijsport op Twitter</a></li>
        <li class="icon icon-rss"> <a href="http://www.kombijsport.nl/feeds/verslagen.rss" title="Recente verslagen RSS-feed">Recente verslagen RSS-feed</a></li>
      </ul>
    </div>
    <div class="vcard">
      <span class="fn org">Kombijsport Atletiek</span> <span class="addr"><span class="street-address">Dahliastraat 30</span> <br /> <span class="postal-code">1171 WN</span> <span class="locality">Badhoevedorp</span></span>         </div>
    </div>
    <div class="credits">
      <a href="http://www.frontendstudio.com" target="_blank" title="Front-End Studio">Front-End Studio {{ "now"|date("Y") }}</a> <br>
beautiful responsive- websites and applications
    </div>
</footer>

<script src="{{ [
    'assets/js/vendor/jquery.js',
    'assets/js/plugins.js',
    'assets/js/main.js'
    ]|theme }}"></script>

{#% partial "google-analytics" %#}

</body>
</html>