description = "functies-commissies"

[viewBag]
snippetCode = "functies-commissies"
snippetName = "functies-commissies"
==
<table class="condensed-table">
  <tbody>
    <tr>
      <td>Baanonderhoud:</td>                       
      <td>Ad Hoc</td>
    </tr>
    <tr>
      <td>Baanverhuur scholen:</td>
      <td>Caroline Zijderveld</td>
    </tr>
    <tr>
      <td>Clubkleding:</td>
      <td>Paola Edixhoven/Theo Woldberg</td>
    </tr>
    <tr>
      <td>Coördinator vrijwilligers:</td>
      <td>Henk van Dijk</td>
    </tr>
    <tr>
      <td>Festiviteiten:</td>                        
      <td>Paola/Jacqueline Edixhoven en Theo Woldberg</td>
    </tr>
    <tr>
      <td>Trimloop:</td>
      <td>Inge van Beem en Inge Cupers</td>
    </tr>
    <tr>
      <td>Ledenadministratie:</td>                        
      <td>Els Raap (intern)  Ruud Nieuwenhuis (Atletiekunie)</td>
    </tr>
    <tr>
      <td>Loopbokaalcomité:</td>
      <td>Gilles Visser en Jan Mulder</td>
    </tr>
    <tr>
      <td>Loopbokaalstandbijhouder:</td>    
      <td>Gilles Visser</td>
    </tr>
    <tr>
      <td>Persoonlijke Records: (+ beste seizoentijden)</td>                 
      <td>Theo Woldberg</td>
    </tr>
    <tr>
      <td>Sleutelbeheerder en technisch onderhoud:</td>                
      <td>Jaap Koning</td>
    </tr>
    <tr>
      <td>A 9 om:</td>                           
      <td>Jos Huppelschoten en Jan Mulder</td>
    </tr>
    <tr>
      <td>Kascommissie:</td>
      <td>Angelica Stevens en Ineke Brouwer</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>   
    <tr>
      <th colspan="2">Website</th>
    </tr>
    <tr>
      <td>Webdesign en webontwikkeling:</td>
      <td>Arnoud van Susteren</td>
    </tr>
    <tr>
      <td>Inhoudelijke tekst:</td>
      <td>Ruud Nieuwenhuis</td>
    </tr>
    <tr>
      <td>Redactioneel werk:</td>                  
      <td>Els Raap/Jan Mulder/Theo Woldberg</td>
    </tr>
  </tbody>
</table>