description = "functies-bestuur"

[viewBag]
snippetCode = "functies-bestuur"
snippetName = "functies-bestuur"
==
<div class="portrait-container">

	<div class="portrait full">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/jan_mulder_4209.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Jan Mulder</div>
			<div class="portrait--function">Voorzitter</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/paola_edixhoven_4143.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Paola Edixhoven</div>
			<div class="portrait--function">Secretaris</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/gilles_visser_4277.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Gilles Visser</div>
			<div class="portrait--function">Penningmeester</div>
		</div>
	</div>

	{#
	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/netty_arendse_4133.jpg | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Netty Arendse</div>
			<div class="portrait--function">Penningmeester</div>
		</div>
	</div>
	#}

	{#
	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/herman_verhaar_4315.jpg | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Herman Verhaar</div>
			<div class="portrait--function">Bestuurslid juridisch</div>
		</div>
	</div>
	#}

</div>
