description = "functies-trainers"

[viewBag]
snippetCode = "functies-trainers"
snippetName = "functies-trainers"
==
<div class="portrait-container">

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/els_raap_4258.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Els Raap</div>
			<div class="portrait--function">dinsdag en donderdag</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/monica_nierop_4152.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Monika Nierop</div>
			<div class="portrait--function">woensdagochtend</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/cora_meere_4289.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Cora Meere</div>
			<div class="portrait--function">woensdagochtend</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/theo_woldberg_4185.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Theo Woldberg</div>
			<div class="portrait--function">dinsdag en/of donderdag</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/jacqueline_edixhoven_4170.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Jacqueline Edixhoven</div>
			<div class="portrait--function">dinsdag en/of donderdag</div>
		</div>
	</div>

	<div class="portrait">
		<div class="portrait--image">
			<img src="{{ '/aankondigingen/img/portretten/jan_mulder_4209.jpg' | media }}">
		</div>
		<div class="portrait--tag">
			<div class="portrait--name">Jan Mulder</div>
			<div class="portrait--function">dinsdag en/of donderdag</div>
		</div>
	</div>

</div>
