[viewBag]

[weather]
noRecordsMessage = "No records found"
features = "forecast"
settings = "lang:NL"
query = "Netherlands/Amsterdam"
format = "json"
cache_time = 1800
cache_key = 1

[tickerList]
sortColumn = "sort_order"
sortDirection = "desc"
==
<!DOCTYPE html>
<html class="no-js" lange="nl">
    <head>
        <title>{{ this.page.title }} - Kombijsport Atletiek Badhoevedorp</title>
        <meta charset="utf-8">
        {% partial "seo" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% styles %}
        <link href="{{ ['assets/css/style.css']|theme }}" rel="stylesheet">
        <script src="{{ ['assets/js/vendor/modernizr.js']|theme }}"></script>
        {% scripts %}
    </head>
<body>

<div id="fb-root"></div>

<div class="outer">

    <header>
        <div class="banner" role="banner">
            <div class="logo"><a href="/" title="Home">Home</a></div>
            {% set weatherData %}
                {% component 'weather' %}
            {% endset %}

            {% component 'tickerList' extraData=weatherData %}

            <div class="search" role="search">
                <form id="cntnt01moduleform_1" method="post" action="http://www.kombijsport.nl/zoeken/" class="cms_form">
                    <div class="search-outer">
                        <div class="search-inner">
                            <button type="submit" class="search--button"><i class="icon-search"></i></button>
                            <input type="input" class="search--input" name="cntnt01searchinput" placeholder="Zoeken binnen verslagen">
                        </div>
                    </div>
                </form>
            </div>

        </div>

        {% partial "navigation" %}

    </header>

<div class="inner">
